@page "/"

<PageTitle>Minesweeper</PageTitle>

<h1 class="text-center text-body"><a class="text-decoration-none text-dark" href="/">Minesweeper</a></h1>
<div class="container">

    @if (!_gameStarted)
    {
        <div class="row">

            <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Easy</h5>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                            <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z" />
                        </svg> 9X9<br /> 💣 10
                    </p>
                    <button type="button" class="btn btn-primary" @onclick="() => StartGame(9,9,10)">Start</button>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Medium</h5>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                            <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z" />
                        </svg> 16X16<br /> 💣 40 
                    </p>
                    <button type="button" class="btn btn-primary" @onclick="() => StartGame(16,16,40)">Start</button>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Hard</h5>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                            <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z" />
                        </svg> 30X16<br /> 💣 99 
                    </p>
                    <button type="button" class="btn btn-primary" @onclick="() => StartGame(30,16,99)">Start</button>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-body">
                    <h5 class="card-title">Exterme</h5>
                    <p class="card-text">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                            <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z" />
                        </svg> 30X24 <br /> 💣 180 
                    </p>
                    <button type="button" class="btn btn-primary" @onclick="() => StartGame(30,24,180)">Start</button>
                </div>
            </div>
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Custom</h5>
                    <div class="mb-3">
                        <label for="rows" class="form-label">Rows: @_rows</label>
                        <input type="range" class="form-range" min="5" max="50" id="rows" @bind="_rows">
                    </div>
                    <div class="mb-3">
                        <label for="cols" class="form-label">Cols: @_cols</label>
                        <input type="range" class="form-range" min="5" max="50" id="cols" @bind="_cols">
                    </div>
                    <div class="mb-3">
                        <label for="mines" class="form-label">Mines: @_mines</label>
                        <input type="range" class="form-range" min="1" max="@(_rows * _cols - 1)" id="mines" @bind="_mines">
                        @if (_hasError)
                        {
                            <div id="invalidFormFeedback" class="invalid-feedback d-block">
                                The mines must not be greater than board cells(@(_cols * _rows - 1)). 
                            </div>
                        }
                    </div>
                    <button type="button" class="btn btn-primary" @onclick="() => StartGame(_rows,_cols,_mines)">Start</button>
                </div>
            </div>
        </div>

    }
    else
    {
        <MinesweeperBoard Game="_game" />
    }
</div>


@code{
    private bool _hasError = false;
    private int _rows = 9;
    private int _cols = 9;
    private int _mines = 10;
    private bool _gameStarted = false;
    private Minesweeper? _game = null;

    private void StartGame(int rows, int cols, int mines)
    {
        if (mines > (rows * cols) - 1)
        {
            _hasError = true;
            return;
        }
        else
        {
            _hasError = false;
        }
        _game = new Minesweeper(rows, cols, mines);
        _gameStarted = true;
    }

}